{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="{% static './style/homepage.css' %}">


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show text-center" role="alert">
    <li>
        {{ message }}
    </li>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}

<section id="intro" class="shadow-lg mb-5 rounded">
    <div class="text-center align-self-center">
        <h1 class="text-center align-self-center">
            Web application for system to issue graduation certificate
        </h1>
    </div>
</section>
<section id="stat" class="shadow-lg mb-5 rounded">
    <div class=" text-center align-self-center">
        <i class="fas fa-file-invoice" style="font-size: 10rem;"></i>
    </div>
</section>

<!-- ##########################################
## Developed By:Mustafa Raad Mutashar ##
## mustafa.raad.7@gmail.com 2020 ##
########################################## -->

{%endblock body%}